$Primary: #000000; //used for Backgrounds && text when there is a white background.
$Secondary: #f0f0f0; // Color is used to distinguish sections and backgrounds of elements.
$Danger: #ff3333; // Used for discounts and warnings.
$Success: #01ab31; // used for verification mark.
$Gold: #ffc633; //  stars

//mixins
