// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-kufi-arabic-Boold {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
